<div class="container">
    <h1 class="page-header">Welcome to About!</h1>
    <div class="page-header">
        <h3>who's Nathi?</h3>
        <p>An experienced individual with demonstrated history of working in IT and financial services industry. Skilled in Software Development (Agile Methodologies, C#.Net, TDD, MVC, API, SQL, JavaScript, React, HTML, CSS and Applying Code principles in software development). Strong research professional with a Bachelor of Technology in Information Technology from Durban University of Technology.</p>
    </div>
</div>

